<header>
    <img
        src="assets/img/salma.jpg"
        alt="Salma Souza - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1>Salma Souza</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Angular | Vuejs | JavaScript | Java </p>
        <p>São José de Ribamar, Maranhão, Brasil</p>
        <p>
                    Olá! Sou uma desenvolvedora Full-Stack especializada em criar soluções 
            eficientes e seguras ​​usando Angular, Vue.js e JavaScript no frontend e Java no backend. 
            Minha paixão por tecnologia e desenvolvimento de software me ajudou a desenvolver sistemas 
            que não apenas atendem às necessidades dos meus clientes,mas também proporcionam uma ótima 
            experiência ao usuário.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cvSalma.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/salma-ferreira" target="_blank" class="btn btn-primary">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/salmasouza" target="_blank" class="btn btn-primary">
                        GitHub
                    </a>
                </li>
            </ul>
        </nav>
        <nav>

        </nav>

        <section>
            
            <figure>

                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="22px"
                    height="24px"
                />

                <figcaption>
                    <a
                    href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Salma,%20preciso%20de%20um%20job!"
                    target="_blank"
                    >
                    <strong>Envie uma menssagem para:</strong>
                    <p>WhatsApp: (11) x xxxx-xxxx</p>
                    </a>
                </figcaption>

            </figure>

            <figure>
                <img
                  src="assets/icons/mail.svg"
                  alt="Ícone para contato do e-mail"
                  width="22px"
                  height="24px"
                />
        
                <figcaption>
                  <a href="mailto:salma.souzza@gmail.com" target="_blank">
                    <strong>Envie uma e-mail para:</strong>
                    <p>salma.souzza&#64;gmail.com</p>
                  </a>
                </figcaption>
            </figure>
        </section>
        
    </div>
</aside>